.warning{
    position: absolute;
    background: #ffe0e0;
    width: 200px;
    border-radius: 10px;
    padding: 40px 60px;
    color: rgb(246, 112, 112);
    font-size: 30px;
    top: 230px;
    right: 40%;
    display: none;
    margin-top: 10px;
    
    text-align: center;
}

.success{
    position: absolute;
    background: #e2ffe0;
    width: 200px;
    border-radius: 10px;
    padding: 40px 60px;
    color: rgb(139, 246, 112);
    font-size: 30px;
    top: 230px;
    right: 40%;
    display: none;
    margin-top: 10px;
    
    text-align: center;
}

.formBtn{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border-style: none;
      background-color: #afafae94;
      position: absolute;
      top: 100px;
      right: 100px;
      color: #ffffff;
      font-size: 20px;
      font-weight: 900;
}